.section_contactanos_organizador{
    display: flex;
    flex-direction: row;
    margin-left: 4%;
}
.section_contactanos_form{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

.section_contactanos_imagenSport{
    margin-left: 20%;
}

